.modal {
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transform: 0.4s all;
    width: 50vw;
}

.modal__content.active {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 400px;
    width: 400px;
    transform: scale(1);
    transform: 0.4s all;
}